header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 25%;
    transition: padding 0.3s;
}

.finstagram-post .user-info img:hover {
    padding: 3px;
}

a.photo {
    transition: padding 0.5s;
}
a.photo:hover {
    padding: 7px;
}