<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+condensed:300italic,700italic,700,300">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/app.css">
        <title>Finstagram</title>
    </head>

        <body>

        <header>
            <h1>Finstagram</h1>
        </header>

        <main role="main">

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                        </p>
                    </li>
                </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/whale.jpg" alt="finstagram post from kirk_whalum">
                </a>
                <div class="actions">
                    300.1 likes
                    <span class="comment-count">very comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            kirk_whalum: #weekendvibes
                        </p>
                    </li>
                </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/marlin.jpg" alt="finstagram post from marlin_peppa">
                </a>
                <div class="actions">
                    2 likes
                    <span class="comment-count">17 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            marlin_peppa: lunchtime! ;)
                        </p>
                    </li>
                </ul>
            </article>

            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://media.istockphoto.com/vectors/blue-shark-cartoon-character-with-sunglasses-surfing-and-waving-over-vector-id641613504" alt="not_sharky_j">
                    <h2>not_sharky_j</h2>
                    <h3>2 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2Fdv424076%2FBoulder--Namibia--Africa%2F960x0.jpg%3Ffit%3Dscale" alt="post from not_sharky_j">
                </a>
                <div class="actions">
                    less than the above post's likes
                    <span class="comment-count">negative comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            not_sharky_j: Not out for the long weekend... I'm stationary like a rock!
                        </p>
                    </li>
                </ul>
            </article>
        </main>
        </body>

</html>